*.sdf
*.suo
*.opensdf
*.pyc
pack_dir.cmd

tools/cache-osc

data/ext
data-ram
data_debug/images/items
data_debug/images/medals
data_debug/images/monsters
data_debug/images/weapons
data_debug/images/level-*

proj.android/obj
proj.android/bin
proj.android/gen
proj.android/libs
proj.win32/ipch
proj.win32/Debug*
proj.win32/Release*

Box2D/proj.win32/ipch
Box2D/proj.win32/Debug
Box2D/proj.win32/Release
